@font-face {
  font-family: 'roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-bold';
  src: url('../assets/fonts/Roboto-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(54,56,77);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
h1, label {
  font-family: 'roboto-bold';
  color: rgb(37,40,69);
}
h1 {
  font-size: 3.2rem;
}
label {
  font-size: 12px;
}
p {
  font-family: 'roboto';
  font-size: .9rem;
  color: rgb(37,40,69);

}
.main {
  width: 46rem;
  height: 28rem;
  background-color: #FFF;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__content {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.main__content--text {
  padding-bottom: 2rem;
}
.main__left {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-left: 2.5rem;
}
.main__text {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.main__list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.main__content--form {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1rem;
}
.form__label {
  padding-bottom: .3rem;
  display: flex;
  justify-content: space-between;
  width: 92%;
  align-items: center;
}
.main__content--form input {
  width: 92%;
  border-radius: .3rem;
  border: 1px solid #d3d3d3;
  padding: .6rem;
}
.main__content--form button {
  width: 92%;
  padding: .6rem;
  border: 1px solid #d3d3d3;
  background-color:rgb(37,40,69);
  font-family: roboto-bold;
  color: #fff;
  border-radius: .3rem;
  cursor: pointer;
}
.main__list--item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .8rem;
}
.main__list--item img {
  width: .9rem;
  height: .9rem;
}
.main__right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__right img {
  width: 100%;
  border-radius: 1.5rem;
}
.error-message {
  color: red;
  font-size: 12px;
  font-family: roboto;
}