* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(54,56,77);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.main {
  width: 46rem;
  height: 28rem;
  background-color: #FFF;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__content {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.main__left {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.main__form {

}
.main__right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__right img {
  width: 100%;
}
